<h1>Đây là trang đăng nhập about</h1>
<!-- <h1>Bạn có <span class="massege">{{posts?.length }}</span> thông báo</h1>

<h3>Chào bạn {{ name }}</h3>
<h3>Bạn đã {{ yearOld }} tuổi</h3> -->


<!-- <span *ngIf="yearOld < 18" class="fasel">Bạn dưới 18 tuổi</span> -->

<!-- <br />
<button (click)="tangtuoi()">increase age</button>
<button (click)="giamtuoi()">age reduction</button>
<br>
Comments:====================== <br>
<span>{{comments | json}}</span>
<br>
Comments[0]: <br>
<span *ngIf="comments">{{comments[0] | json}}</span> -->

<!-- <br>
<h2>Posts:<span class="mail">{{posts?.length }}</span> </h2>
<br> -->
<!-- <div *ngFor="let post of posts">
<li>{{post | json}}</li>
</div> -->



<!-- <table id="customer" style="border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
  </tr>
  <tr *ngFor="let post of posts">
    <td>{{ post?.id }}</td>
    <td>{{ post?.title }}</td>
    <td>{{ post?.author }}</td>
  </tr>
</table>


<br> -->
<!-- <button (click)="addPost()">Thêm Post</button> -->



