<a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
&nbsp;|
<a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
&nbsp;|
<a [routerLink]="['/vehiclemanagement']" routerLinkActive="router-link-active">Management vehicle</a>
&nbsp;|
<a [routerLink]="['/form']" routerLinkActive="router-link-active">Form</a>

<!-- <a [routerLink]="['/reactiveform']" routerLinkActive="router-link-active">Reactive Form</a> -->

<!-- <h1 class="greeting">Chào mừng bạn đến với shop chúng tôi</h1> -->

<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
