<p>Chào bạn bạn muốn lựa chọn xe loại nào !</p>


Nguyễn Văn Quang

<!-- <h3>Hello bạn {{name}}</h3>
<h3>Năm nay bạn {{yearOld}} tuổi</h3>
<span class="red" *ngIf="yearOld < 18">Bạn dưới 18 không được mua xe</span>
<span class="green" *ngIf="yearOld >= 18">Bạn đã đủ điều kiện trên 18 mời chọn xe</span>
<br> <br>
<input [(ngModel)]="name" />
<p>Danh sách xe:</p>
<div>
  <select>
    <option *ngFor="let vehicles of vehicles">
      {{ vehicles }}
    </option>
  </select>
</div>


<br />
<br />
<button (click)="tangtuoi()">increase age</button>
<button (click)="giamtuoi()">age reduction</button> -->
